.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 5px double var(--light-black);
  border-radius: 10px;
}

.menu-header {
  width: 50%;
  text-align: center;
}
.menu-header--img {
  width: 35%;
}
.menu-header h1 {
  font-size: 2rem;
}
.menu-button--play {
  width: 30%;
  min-width: 100px;
}
